[Unit]
Description=Personal Wiki

[Service]
Environment="DISPLAY=:0"
ExecStart=/usr/local/bin/gollum --show-all --h1-title --no-edit ~/wiki
Type=simple

[Install]
WantedBy=default.target
