[user]
	name = Prakash Surya
	email = prakash.surya@delphix.com
[core]
	editor = vim
	pager = "diff-highlight | less --tabs=4 -RFX"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[color]
	ui = true
[diff]
	indentHeuristic = on
[alias]
	b = branch -v
	c = commit
	d = diff
	f = fetch
	g = grep
	l = log --decorate
	p = !git --no-pager diff --no-color
	r = remote -v
	s = status

	ap = add --patch
	ca = commit --amend
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	lg = log --decorate --oneline --graph
	ls = log --decorate --pretty=short --stat
	mt = mergetool
	pc = !git --no-pager diff --cached --no-color
	rs = reset

	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
[reviewboard]
	url = http://reviews.delphix.com
[dlpx]
	email = prakash.surya@delphix.com
	ldap-user = psurya
	onelogin-user = prakash.surya
	jenkins-token-platform-jenkins-delphix-com = 4631b02012d3a38db9ff404b0fcabfdd
	jenkins-token-ops-jenkins-delphix-com = 6010c11932f6b22da4a904b5d0d26ded
[rerere]
	enabled = true
[interactive]
	diffFilter = diff-highlight
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[color "diff"]
	meta = 227
	frag = magenta
	commit = 227
	old = red
	new = green
	whitespace = red reverse
